<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="ISO-8859-1">
<title>Edit Task</title>
</head>
<body>
	<div align="center">
		<h1>Edit Task</h1>
		<br/>
		<form action="#" th:action="@{/projects/savetask}" th:object="${task}" method="post">
			<table border="0" cellpadding="10">
				<tr>
					<td>Project ID:</td>
					<td><input type="text" th:field="*{projectId}" readonly="readonly" /></td>
				</tr>
				<tr>
					<td>Task ID:</td>
					<td><input type="text" th:field="*{id}" readonly="readonly" /></td>
				</tr>

				<tr>
					<td sec:authorize="hasRole('ADMIN')">Title:</td>
					<td><input type="text" th:field="*{title}" /></td>
				</tr>
				<tr>
					<td sec:authorize="hasRole('ADMIN')">Type:</td>
					<td><label>
						<input type="radio" th:field="*{taskType}" th:value="TECH" />Tech
					</label></td>
					<td><label>
						<input type="radio" th:field="*{taskType}" th:value="MANAGER" />Manager
					</label></td>
				</tr>
				<tr>
					<td>Status:</td>
					<td><label>
						<input type="radio" th:field="*{status}" th:value="NEW" />New
					</label></td>
					<td><label>
						<input type="radio" th:field="*{status}" th:value="PROGRESS" />Progress
					</label></td>
					<td><label>
						<input type="radio" th:field="*{status}" th:value="DONE" />Done
					</label></td>
				</tr>
				<tr>
					<td sec:authorize="hasRole('ADMIN')">Description:</td>
					<td><input type="text" th:field="*{description}" /></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>